body{
    background-color: #141414;
    margin: 20%;
}

#centro{
    background-color:#1F1F1F;
    width: 50%;
    height: auto;
    margin: auto;
    text-align:center;
    border-radius: 10px;
}

img{
 width: 30%;
 border-radius: 50%;
 margin-top: 10%;
}

#centro button{
    background-color: #696969;
    color: white;
    width: 80%;/*largura*/
    height: 50px;/*altura*/
    border:none;
    border-radius: 8px;
    padding-bottom: 1%;
    margin-bottom: 3%;
}

#centro button:hover{
    background-color: yellowgreen;
    cursor: pointer;
}

p{
color:white;
font-family: sans-serif;
font-weight: bold;
font-size: 18px;
}


#cidade{
    color:yellowgreen;
    margin-bottom: 7%;
    font-size: 18px;
}

#nome{
    font-size: 26px;
}
